<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="SampleFwDBCS"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=INNOVIX-KMA\MSSQL2008R2;Initial Catalog=SampleFWDB;Persist Security Info=True;User ID=sa;Password=sasa" />
  </connectionStrings>
</configuration>

